.carousel-inner {
    height: 30vh;
}

#carrothappy {
    border-radius: 50%;
}

#footer-section {
    background-image: url(veghandpicked.jpg);
}

#carrothappylog {
    border-radius: 50%;
}

#carrothappysign {
    border-radius: 50%;
}

#carrothappyaboutus {
    border-radius: 50%;
}

#carrothappycart {
    border-radius: 50%;
}
